
html, body{
	width: 100%;
    position: fixed;
	background-color: white;
	padding: 0;
	margin: 0;
	height: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
    color: #7E7E7E;
}


.map {
	width: 100%;
	height: 100%;
	
}

.ol-attribution > ul {
    font-size: 1.3rem;
}


#interface {
    position: absolute;
    right: 25px;
    top: 8px;
    z-index: 10000;
    width: 260px;    
    background-color:#FFFFFF;
    opacity: 0.8;
    border-radius: 10px;
    padding: 20px;
    margin-top: 25px;

}

#showInstructions {
	display: block;
	font-size: 1.3em;
}


.selectpicker {
	display: block;
	/*font-size: 0.5em;*/
}
.nav-tabs {
	margin-bottom: 5px;
	
}

.tab-content {
	margin-left: 5px;
}

#wait {
	display: none;
	padding-left: 5px;
}

/*Results modal*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

table, th, td{
    border: 1px solid black;
    text-align: center;
    margin: auto;
}
/*Results modal*/

#instructionsModalContent {
    width: 50%;
}



